{% extends '../layout.html' %}

{# 标题 #}
{% block title %}{{user.name}} － {{app.title}}{% endblock %}

{# 样式 #}
{% block sub_styles %}
<!-- build:css /styles/default/aquarius.css -->
<link rel="stylesheet" href="/styles/default/aquarius.css">
<!-- endbuild -->
{% endblock %}

{# 脚本 #}
{% block sub_scripts %}
<!-- build:js /scripts/default/aquarius.js -->
<script src="/scripts/default/aquarius.js"></script>
<!-- endbuild -->
{% endblock %}

{# 内容 #}
{% block content %}
<section class="section section-black section-background" style="height:200px">
  <a class="navbar-brand" href="/">Starry</a>
  <div class="top-actions">
    <a href="#">退出登录</a>
  </div>
  <a class="replace-image" id="replaceImage" href="#"><i class="fa fa-picture-o"></i></a>
</section>
{% endblock %}
