{% extends '../layout.html' %}

{# 标题 #}
{% block title %}{{app.title}} - {{app.description}}{% endblock %}

{# 样式 #}
{% block sub_styles %}
<!-- build:css /styles/story/default.css -->
<link rel="stylesheet" href="/styles/story/default.css">
<!-- endbuild -->
{% endblock %}

{# 脚本 #}
{% block sub_scripts %}
<script>adou.preloaded = {{preloaded|safe}};</script>
<!-- build:js /scripts/story/default.js -->
<script src="/scripts/story/default.js"></script>
<!-- endbuild -->
{% endblock %}

{# 内容 #}
{% block content %}

{% endblock %}
