{% extends '../layout.html' %}

{# 标题 #}
{% block sub_title %}找回密码{% endblock %}

{# 样式 #}
{% block sub_styles %}
<!-- build:css /styles/account/default.css -->
<link rel="stylesheet" href="/styles/account/default.css">
<!-- endbuild -->
{% endblock %}

{# 内容 #}
{% block content %}
<div class="container">
  <form class="account" id="formForgot" role="form">
    <h2 class="account-header">找回密码</h2>
    <div class="inputs">
      <input type="email" class="control" name="email" placeholder="电子邮件地址" required autofocus>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="数据提交中...">找回密码</button>
  </form>
</div>
{% endblock %}
