{% extends '../layout.html' %}

{# 标题 #}
{% block title %}{{app.title}} - {{app.description}}{% endblock %}

{# 样式 #}
{% block sub_styles %}
<!-- build:css /styles/account.css -->
<link rel="stylesheet" href="/styles/account/index.css">
<!-- endbuild -->
{% endblock %}

{# 脚本 #}
{% block sub_scripts %}
<!-- build:js /scripts/account/signup.js -->
<script src="/scripts/account/signup.js"></script>
<!-- endbuild -->
{% endblock %}

{# 内容 #}
{% block content %}
<div class="container">
  <form class="form-account" id="form-signup" role="form">
    <h2 class="form-account-heading">注册</h2>
    <div class="inputs">
      <input type="text" class="form-control" name="login" placeholder="账号" required autofocus>
      <input type="text" class="form-control" name="name" placeholder="姓名" required autofocus>
      <input type="email" class="form-control" name="email" placeholder="电子邮件地址" required autofocus>
      <input type="password" class="form-control" name="password" placeholder="密码">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="数据提交中...">提交注册</button>
    <p class="form-account-footing">
      已有账号？<a href="/signin">立即登录</a>
    </p>
  </form>
</div>
{% endblock %}
