<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>404 页面不存在 - {{app.title}}</title>
</head>
<body>
  <div class="wrapper">
    <div class="content">
      <h2 class="info">404 页面不存在！</h2>
      <pre class="stealthy-pre">
         .   ,  ,    .
         )\_/|_/|_  /
      .-'        /_/(
     '  .-'`'-.   /_(
    /  (    o  ) /___(
   /u   '-._.-'  \ _(/
  ^--------^-^-)  ) \_     /
 |
  \ _________         '-._.)
\
   (,(,(,(_______)_____..---
'ldb
      </pre>
      <p class="text-center"><a href="/">返回首页</a></p>
    </div>
  </div>
</body>
</html>
