<!DOCTYPE html>
<html class="no-js" lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}{% block sub_title %}{% endblock %} - {{app.title}}{% endblock %}</title>
  {% block head %}{% endblock %}
  {% block styles %}
    <!-- build:css(.tmp/public) /styles/base.css -->
    <link rel="stylesheet" href="/styles/base.css">
    <!-- endbuild -->
    {% block sub_styles %}{% endblock %}
  {% endblock %}
  <!-- build:js(public) /scripts/modernizr.js -->
  <script src="/components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>
  {% block content %}{% endblock %}
  {% block scripts %}
    <!-- build:js(public) /scripts/vendor.js -->
    <script src="/components/jquery/dist/jquery.js"></script>
    <script src="/components/angular/angular.js"></script>
    <!-- endbuild -->
    {{baseConfigHtml|safe}}
    {% block sub_scripts %}{% endblock %}
  {% endblock %}
</body>
</html>
