<!DOCTYPE html>
<html class="no-js" lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}{% block sub_title %}{% endblock %} - {{app.title}}{% endblock %}</title>
  {% block head %}{% endblock %}
  {% block styles %}
    <!-- build:css /styles/base.css -->
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/components/toastr/toastr.css">
    <!-- endbuild -->
    {% block sub_styles %}{% endblock %}
  {% endblock %}
  <!-- build:js /scripts/modernizr.js -->
  <script src="/components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>
  {% block content %}{% endblock %}
  {% block scripts %}
    <!-- build:js /scripts/vendor.js -->
    <script src="/components/handlebars/handlebars.runtime.js"></script>
    <script src="/components/director/build/director.js"></script>
    <script src="/components/flow.js/dist/flow.js"></script>
    <script src="/components/jquery/dist/jquery.js"></script>
    <script src="/components/toastr/toastr.js"></script>
    <script src="/components/jquery.cookie/jquery.cookie.js"></script>
    <script src="/components/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
    <script src="/components/bootstrap/js/transition.js"></script>
    <script src="/components/bootstrap/js/button.js"></script>
    <script src="/components/bootstrap/js/tooltip.js"></script>
    <script src="/components/bootstrap/js/popover.js"></script>
    <script src="/scripts/setting.js"></script>
    <!-- endbuild -->
    {% block sub_scripts %}{% endblock %}
  {% endblock %}
</body>
</html>
