{% extends 'layout.html' %}

{# 标题 #}
{% block title %}邮箱验证 - {{app.title}}{% endblock %}

{# 脚本 #}
{% block sub_scripts %}
<script>
$(function () {
  var $timer = $('.timer span');
  var execute = function () {
    var t = parseInt($timer.text(), 10) - 1;

    if (0 >= t) {
      return window.location.href = 'http://' + adou.config.default_domin;
    }

    $timer.text(t);
    window.setTimeout(function () {
      execute();
    }, 1000);
  };

  window.setTimeout(function () {
    execute();
  }, 1000);
});
</script>
{% endblock %}

{# 内容 #}
{% block content %}
<div class="screen">
  <div class="magic">
    <div class="logo">Qiukela</div>
    <div class="box">
      <div class="row">
        <div class="large-12 columns">
          <h3>邮箱地址验证</h3>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p>
            {% if user %}
            <span class="i-check ident success"></span>
            {% else %}
            <span class="i-close ident alert"></span>
            {% endif %}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          {% if user %}
          <p>您的电子邮箱 <a href="mailto:{{user.email}}">{{user.email}}</a> 已验证成功</p>
          {% else %}
          <p class="alert">电子邮箱验证失败</p>
          {% endif %}
          <p class="timer"><span>5</span> 秒后自动跳转到首页</p>
        </div>
      </div>
      <div class="row">
        <div class="large-8 large-centered columns">
          <a class="button small round" href="/">返回首页 →</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
