<div class="point-container text"><p class="point-body"></p></div>
<form class="point-add">
  <div class="input-group">
    <input type="text" class="form-control" name="title" autocomplete="off" placeholder="标题">
  </div>
  <div class="input-group">
    <textarea class="form-control" name="description" rows="4" placeholder="描述"></textarea>
  </div>
  <div class="input-group">
    <label class="input-group-addon">气泡</label>
    <input type="text" class="form-control" name="bubble" autocomplete="off" placeholder="2012，九月，20%，icon-" rel-chart="yes" rel-iconpicker="yes">
    <div class="chart"></div>
    <div class="bubble-icon"></div>
  </div>
  <div class="input-group">
    <label class="input-group-addon">链接</label>
    <input type="text" class="form-control" name="link" autocomplete="off" placeholder="http://">
  </div>
  <div class="form-group clearfix">
    <a class="btn btn-picture">
      <div class="loading"><i class="fa fa-refresh"></i></div>
      <div class="instructions"><i class="fa fa-picture-o"></i></div>
    </a>
    <input type="hidden" name="image">
    <button class="btn pull-right" type="submit">添加节点</button>
  </div>
</form>
