<div class="section" id="section-{{id}}" data-id="{{id}}">
  <div class="section-title">
    <span class="name">{{#if name}}{{name}}{{^}}片段{{/if}}</span>
  </div>
  <div class="point">
    <div class="circle circle-large"><div class="visible">添加</div></div>
    {{> point-add}}
  </div>
  {{> section-add this}}
  <div class="line"></div>
</div>
