<div class="section" id="section-{{id}}" data-id="{{id}}">
  <div class="section-title">{{> section-title this}}</div>
  <div class="points">
    {{#each points}}
      {{> point this}}
    {{/each}}
    <div class="point">
      <div class="circle circle-large"><div class="visible">添加</div></div>
      {{> point-add}}
    </div>
    {{> section-add this}}
  </div>
  <div class="line"></div>
</div>
