<div class="actions">
  <div class="confirm">
    <a class="trash"><i class="fa fa-trash"></i><span>删除</span></a>
    <a class="remove"><i class="fa fa-check"></i></a>
    <a class="cancel"><i class="fa fa-times"></i></a>
  </div>
  <a class="down"><i class="fa fa-arrow-down"></i><span>向下移动</span></a>
  <a class="rename"><i class="fa fa-pencil"></i><span>重命名</span></a>
</div>
<span class="name">{{#if title}}{{title}}{{^}}片段{{/if}}</span>
<form class="section-rename">
  <div class="input-group">
    <label class="input-group-addon">标题</label>
    <input type="text" class="form-control" name="title" placeholder="标题" autocomplete="off" value="{{#if title}}{{title}}{{/if}}">
  </div>
  <button type="submit">保存</button>
</form>