# 系统信息
setting:
  title: 'Starry'
  description: '完成一个故事'
  api_vnd: 'starry.v0.1'
  secret: 'gwb2vp6tk1inpspztkexdj2egxmegu'
  static_url: ''

# 数据库配置
db:
  redis:
    host: '127.0.0.1'
  mongodb:
    url: 'mongodb://127.0.0.1/starry'

# 邮件配置
mailer:
  smtp:
    host: 'smtp.exmail.qq.com'
    secure: true
    port: 465
    auth:
      user: 'Xxxxx@xxx.com'
      pass: 'Xxxxxx'
  from: 'Xxxx <Xxxx@xx.com>'

# 又拍云
upyun:
  api: 'http://v0.api.upyun.com'
  buckets:
    - name: 'starry-images'
      secret: 'Xxxxxxxxx'
      url: 'http://starry-images.b0.upaiyun.com'
