<div class="alert alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
  <ul>
    {{#each errors}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
