<section class="section section-black section-background" style="height:200px">
  <a class="navbar-brand go" href="/stories"><i class="ti-back-right"></i>返回</a>
  <div class="top-actions">
    <a>退出登录</a>
  </div>
  <a class="replace-background" id="replaceBackground"><i class="ti-image"></i></a>
</section>
