<div class="container">
  <div class="header">
    <a class="logo pull-left" href="/">{{> logo}}</a>
    <div class="header-actions pull-right">
      <a class="signout">退出</a>
    </div>
  </div>
  <div class="items" id="items">
    <a class="item add" id="add"><i class="fa fa-plus"></i> 新建</a>
    {{#each stories}}
      <a class="item go" href="/stories/{{_id}}" data-id="{{_id}}">
        <div class="cover pull-left"{{#if cover}} style="background-image:url({{cover}}!avatar.small)"{{/if}}></div>
        {{#if title}}{{title}}{{^}}标题{{/if}}
        <div class="actions">
          <span class="trash"><i class="fa fa-trash"></i></span>
          <span class="remove"><i class="fa fa-check"></i></span>
          <span class="cancel"><i class="fa fa-times"></i></span>
        </div>
      </a>
    {{/each}}
  </div>
</div>
