@import '../../components/bootstrap/less/variables.less';

@font-family-base: STHeiti, '微软雅黑', 'Microsoft Yahei', Helmet, Freesans, sans-serif;
@link-hover-decoration: none;

// Color
@starry-color-white: #fff;
@starry-color-black: #484848;
@starry-color-gray: #4a4d5a;
@starry-color-green: #1abc9c;
@starry-color-blue: #44a0c8;
@starry-color-pink: #eb836e;
@starry-color-red: #e85a59;

@starry-color-default: @starry-color-green;


// Index
@bige-index: 99;
