// Mixins
.section-base(@dark-color, @light-color) {
  background: @light-color;

  a {
    color: @dark-color;
    cursor: pointer;
  }

  .line {
    background: @dark-color;
  }

  .section-add .input-group {
    border-color: @dark-color;

    label {
      background: @dark-color;
      color: @light-color;
    }

    input {
      color: @dark-color;
    }
  }

  .section-title {
    color: @dark-color;
  }

  .point-edit {
    .form-control {
      border-color: @dark-color;
      color: @dark-color;
    }

    .form-control::placeholder {
      color: lighten(@dark-color, 15%);
    }

    .btn {
      border-color: @dark-color;
      color: @dark-color;
    }

    .input-group-addon {
      border-color: @dark-color;
      background-color: @dark-color;
      color: @light-color;
    }
  }

  .section-black {
    background-color: @dark-color;

    a {
      color: darken(@light-color, 10%);

      &:hover {
        color: @light-color;
      }
    }

    .line {
      background: @light-color;
    }

    .section-add .input-group {
      border-color: @light-color;

      label {
        background: @light-color;
        color: @dark-color;
      }

      input {
        color: @light-color;
      }
    }

    .section-title {
      color: @light-color;
    }

    .point-edit {
      .form-control {
        border-color: @light-color;
        color: @light-color;
      }

      .form-control::placeholder {
        color: darken(@light-color, 15%);
      }

      .btn {
        border-color: @light-color;
        color: @light-color;
      }

      .input-group-addon {
        border-color: @light-color;
        background-color: @light-color;
        color: @dark-color;
      }
    }
  }

  .profile-image .loading i {
    color: @dark-color;
  }

  .profile-image.done .loading i {
    color: @light-color;
  }

  .section-header .content {
    background: @light-color;
  }

  .section:last-of-type .line:before {
    color: @light-color;
    background: @dark-color;
  }

  .section.section-black:last-of-type .line:before {
    color: @dark-color;
    background: @light-color;
  }

  .section:before {
    background: @dark-color;
  }

  .section.section-black:before {
    background: @light-color;
  }

  .section:last-of-type:before {
    display: none;
  }
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.section {
  position: relative;
  z-index: @default-index;
  margin-top: 0px;
  padding: 40px 0px;
  width: 100%;

  .line {
    position: absolute;
    top: -20px;
    bottom: 0;
    left: 50%;
    z-index: @line-index;
    width: 1px;
  }

  &:last-of-type {
    padding-bottom: 200px;

    .line {
      bottom: 100px;
      margin-bottom: -50px;

      &:before {
        display: block;
        content: '';
        position: absolute;
        bottom: 0px;
        z-index: @default-index;
        margin-left: -25px;
        width: 51px;
        height: 51px;
        border-radius: 50%;
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    z-index: @default-index;
    margin: -15px;
    width: 31px;
    height: 31px;
    transform: rotate(315deg);
  }

  .top-actions {
    position: absolute;
    top: 30px;
    right: 30px;

    a {
      margin-left: 8px;
    }
  }

  .profile-image {
    position: absolute;
    top: -100px;
    left: 50%;
    z-index: @profile-index;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    border: 2px solid darken(@starry-color-white, 1%);
    background-color: darken(@starry-color-white, 1%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  .section-title {
    padding-right: 20px;
    margin-top: -30px;
    padding-bottom: 30px;
    text-align: right;

    span.name {
      font-size: 16px;
    }
  }

  .point {
    position: relative;
    width: 50%;
    min-height: 60px;
    padding: 0 20px;
    backface-visibility: hidden;
  }

  .point-right {
    margin-left: 50%;
  }
}

.section-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-header {
  padding-top: 100px;
  padding-bottom: 30px;
  backface-visibility: hidden;

  .content {
    position: relative;
    z-index: @base-index;
    margin: 30px auto;
    margin-top: 40px;
    padding-bottom: 20px;
    max-width: 600px;
    text-align: center;

    h1 {
      font-size: 32px;
      padding-top: 20px;
      padding-bottom: 0px;
    }

    .link {
      font-size: 15px;
      font-family: inherit;
      margin-top: 0px;

      a {
        text-decoration: underline;
      }
    }

    .nav {
      display: inline-block;
      padding: 20px 0px 10px;
      font-size: 16px;

      a {
        margin-right: 12px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

body, body.black {
  .section-base(@starry-color-black, @starry-color-white);
}

body.gray {
  .section-base(@starry-color-gray, @starry-color-white);
}

body.green {
  .section-base(@starry-color-green, @starry-color-white);
}

body.blue {
  .section-base(@starry-color-blue, @starry-color-white);
}

body.pink {
  .section-base(@starry-color-pink, @starry-color-white);
}

body.red {
  .section-base(@starry-color-red, @starry-color-white);
}
