// Mixins
.section-base(@dark-color, @light-color) {
  a {
    color: @dark-color;
    cursor: pointer;
  }

  .section-black {
    background-color: @dark-color;

    a {
      color: darken(@starry-color-white, 10%);

      &:hover {
        color: @starry-color-white;
      }
    }
  }
}

.section {
  position: relative;
  margin-top: 0px;
  padding: 40px 0px;
  width: 100%;

  .top-actions {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}


html, html.black {
  .section-base(@starry-color-black, @starry-color-white);
}
